{% extends 'base.html' %}

{% block body %}
<div class="center">
    <p class="title"><a href="/">Welcome to Gif Hub!</a></p>

    <form action='/'>
        <input id="search-bar" class="search-bar" type="search" name="user_input" placeholder="Search for a GIF and enjoy:"/>
        <button class="search-button" type="submit">Search</button>
    </form>
</div>
<p>
    {% if top_10gifs|length == 0 %}
        <p class="center">Sorry, no gifs could be found for this search query. Try another search term!</p>
    {% else %}
        {% for gif in top_10gifs %}
            {% include 'gif.html'  %}
        {% endfor %}
    {% endif %}

</p>
{% endblock %}
